/* cyrillic-ext */
@font-face {
	font-family   : 'Open Sans Condensed';
	font-style    : normal;
	font-weight   : 300;
	src           : local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xE6du99w8ONfQrOf4kprgAx_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
	unicode-range : U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
	font-family   : 'Open Sans Condensed';
	font-style    : normal;
	font-weight   : 300;
	src           : local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xK8wKBk9M_9zvJF5T73CXCh_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
	unicode-range : U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family   : 'Open Sans Condensed';
	font-style    : normal;
	font-weight   : 300;
	src           : local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xJ14gK-0unzMDfuYl-aQUV9_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
	unicode-range : U+1F00-1FFF;
}

@font-face {
	font-family   : 'Open Sans Condensed';
	font-style    : normal;
	font-weight   : 300;
	src           : local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xB5VLgeZEtrtjc2zP-H3k9d_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
	unicode-range : U+0370-03FF;
}

@font-face {
	font-family   : 'Open Sans Condensed';
	font-style    : normal;
	font-weight   : 300;
	src           : local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xAWz7bTsodKOChnd4npPWzF_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
	unicode-range : U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family   : 'Open Sans Condensed';
	font-style    : normal;
	font-weight   : 300;
	src           : local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xD_0YkshJ_UyXEU-Q7eV4G5_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
	unicode-range : U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family   : 'Open Sans Condensed';
	font-style    : normal;
	font-weight   : 300;
	src           : local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xMmDra0ONnO3FPH--kzkC5zr7w4p9aSvGirXi6XmeXNA.woff2) format('woff2');
	unicode-range : U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family : 'Material Icons';
	font-style  : normal;
	font-weight : 400;
	src         : local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
	font-family                   : 'Material Icons';
	font-weight                   : normal;
	font-style                    : normal;
	font-size                     : 24px;
	line-height                   : 1;
	letter-spacing                : normal;
	text-transform                : none;
	display                       : inline-block;
	white-space                   : nowrap;
	word-wrap                     : normal;
	direction                     : ltr;
	-webkit-font-feature-settings : 'liga';
	-webkit-font-smoothing        : antialiased;
}

@font-face {
	font-family : 'Lato';
	src         : url('/fonts/lato/lato-black.eot');
	src         : url('/fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/lato-black.woff') format('woff'), url('/fonts/lato/lato-black.ttf') format('truetype'), url('/fonts/lato/lato-black.svg#latoblack') format('svg');
	font-weight : 900;
	font-style  : normal;
}

@font-face {
	font-family : 'Lato';
	src         : url('/fonts/lato/lato-bold.eot');
	src         : url('/fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/lato-bold.woff') format('woff'), url('/fonts/lato/lato-bold.ttf') format('truetype'), url('/fonts/lato/lato-bold.svg#latobold') format('svg');
	font-weight : bold;
	font-style  : normal;
}

@font-face {
	font-family : 'Lato';
	src         : url('/fonts/lato/lato-bolditalic.eot');
	src         : url('/fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/lato-bolditalic.woff') format('woff'), url('/fonts/lato/lato-bolditalic.ttf') format('truetype'), url('/fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
	font-weight : bold;
	font-style  : italic;
}

@font-face {
	font-family : 'Lato';
	src         : url('/fonts/lato/lato-italic.eot');
	src         : url('/fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/lato-italic.woff') format('woff'), url('/fonts/lato/lato-italic.ttf') format('truetype'), url('/fonts/lato/lato-italic.svg#latoitalic') format('svg');
	font-weight : normal;
	font-style  : italic;
}

@font-face {
	font-family : 'Lato';
	src         : url('/fonts/lato/lato-light.eot');
	src         : url('/fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/lato-light.woff') format('woff'), url('/fonts/lato/lato-light.ttf') format('truetype'), url('/fonts/lato/lato-light.svg#latolight') format('svg');
	font-weight : 300;
	font-style  : normal;
}

@font-face {
	font-family : 'Lato';
	src         : url('/fonts/lato/lato-regular.eot');
	src         : url('/fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/lato/lato-regular.woff') format('woff'), url('/fonts/lato/lato-regular.ttf') format('truetype'), url('/fonts/lato/lato-regular.svg#latoregular') format('svg');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : "bbcnassim";
	src         : url("/fonts/farsi/BBCNassim.ttf") format("truetype"),
	url("/fonts/farsi/BBCNassim.otf") format("opentype");
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : "IranNastaliq";
	src         : url("/fonts/farsi/IranNastaliq.eot");
	src         : url("/fonts/farsi/IranNastaliq.eot?#iefix") format("embedded-opentype");
	src         : url("/fonts/farsi/IranNastaliq.woff") format("woff"),
	url("/fonts/farsi/IranNastaliq.ttf") format("truetype"),
	url("/fonts/farsi/IranNastaliq.svg#IranNastaliq") format("svg");
	font-weight : 900;
	font-style  : normal;
}

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "material-kit";
@import "animate";
@import "node_modules/sweetalert2/src/sweetalert2";
@import "dropzone";
@import "lity";
@import "custom.scss";
