$bright : #C8FF00;
$twilight : #A0F;
$beige : #F5F5DC;
$shadow : #9B9B9B;
$primary : #9C27B0;
$inverse : #3F51B5;
$success : #4CAF50;
$info : #03A9F4;
$warning : #FBC02D;
$danger : #F44336;
$dark : #1D1D1D;

$iranNastaliq : 'IranNastaliq', 'bbcnassim', Tahoma, Verdana, Arial, sans-serif;
$bbcnassim : 'bbcnassim', 'Lato', 'Helvetica Neue', Helvetica, Tahoma, Verdana, Arial, sans-serif;
$lato : 'Lato', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
$openSans : 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;

body { background-color : $dark; }

footer { color : white; }

.bbcnassim { font-family : $bbcnassim !important; }

.irannastaliq { font-family : $iranNastaliq !important; }

.lato { font-family : $lato; }

.openSnas { font-family : $openSans; }

.text-bright { color : $bright !important; }

.text-twilight { color : $twilight !important; }

.large-text { font-size : 70px; font-weight : 900; }

.main { padding-bottom : 3%; }

.no-style {
	margin         : 0 !important;
	padding        : 0 !important;
	border         : 0 !important;
	outline        : 0 !important;
	font-size      : 100% !important;
	vertical-align : baseline !important;
	background     : transparent !important;
}

.profile {
	background    : url("/images/background/background-3.jpg");
	color         : $beige;
	border-radius : 0 !important;
}

.bg {
	background      : url("/images/background/background-4.jpg") repeat;
	background-size : cover;
}

.login { margin : 100px 0; }

.register { margin : 100px 0; }

.btn { margin : 1% 0; }

.header { margin-top : -20px; }

.brand > * { color : white !important; }

.center {
	margin     : auto;
	text-align : center !important;
	display    : inherit;
	* { text-align : center !important; }
}

h1, h2, h3, h4, h5, h6 {
	font-family : $openSans;
	color       : $primary;
	text-shadow : 1px 1px 10px $shadow;
}

textarea { resize : vertical; padding : 15px !important; }

article { margin-top : 5%; }

aside {
	margin-top : 5%;
	h2, h3 {
		font-size     : 2em;
		color         : $inverse;
		border-bottom : 1px dotted $primary;
	}
}

.img-space { margin-bottom : 1em; }

.navbar { border-radius : 0; }

.underline { border-bottom : 1px solid $bright; }

.dropzone { border : dashed 2px $primary; background-color : $beige; }

.carousel-caption > * { color : white; font-weight : lighter; font-family : $lato; }

.carousel-caption {
	text-align                 : left;
	background-color           : rgba(0, 0, 0, 0.3);
	padding-left               : 2%;
	right                      : 60%;
	left                       : 0;
	bottom                     : 20%;
	border-top-right-radius    : 10px;
	border-bottom-right-radius : 10px;
}

.alert-dismissible {
	display  : inline-block;
	position : fixed;
	left     : 15px;
	top      : 50px;
	z-index  : 100;
}

.menu {
	h2, h3, h4 {
		border-bottom : 1px dotted #FFF;
	}
	line-height : 2.5em;
}

#notifyAlert {
	display       : inline-block;
	position      : fixed;
	right         : 30px;
	bottom        : 50px;
	z-index       : 100;
	border-radius : 4px;
	min-width     : 200px;
	text-align    : center;
}

.img-wrap {
	position : relative;
}

.img-wrap .close {
	position         : absolute;
	top              : 0;
	right            : 0;
	padding          : 0 5px;
	margin           : -5px;
	border-radius    : 50%;
	background-color : $dark;
	border           : 3px solid white;
	z-index          : 100;
	font-size        : 2em;
}

#disqus_thread {
	margin-top : 10%;
	padding    : 20px;
	clear      : both;
	border-top : 1px solid $bright;
}

/* jQuery Cookie Bar */
#cookie-bar { background : #111; height : auto; line-height : 24px; color : #EEE; text-align : center; padding : 3px 0; }

#cookie-bar.fixed { position : fixed; top : 0; left : 0; width : 100%; }

#cookie-bar.fixed.bottom { bottom : 0; top : auto; }

#cookie-bar p { margin : 0; padding : 0; }

#cookie-bar a { color : #FFF; display : inline-block; border-radius : 3px; text-decoration : none; padding : 0 6px; margin-left : 8px; }

#cookie-bar .cb-enable { background : #070; }

#cookie-bar .cb-enable:hover { background : #090; }

#cookie-bar .cb-disable { background : #900; }

#cookie-bar .cb-disable:hover { background : #B00; }

#cookie-bar .cb-policy { background : #03B; }

#cookie-bar .cb-policy:hover { background : #05D; }